In [1]:
# DataScienceSchool_Pandas

In [2]:
import pandas as pd

In [3]:
# series = value(값) + index(인덱스)

In [4]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index = ["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
# 인덱스를 지정하지 않고 시리즈를 만들면 인덱스는 0부터 시작하는 정수값이 된다. 
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [6]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [8]:
# .name / index.name
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

#### 시리즈 연산

In [10]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

#### 시리즈 인덱싱

In [11]:
s[1], s["부산"]

(3448737, 3448737)

In [12]:
s[3], s["대구"]

(2466052, 2466052)

In [13]:
# 자료의 순서를 바꾸거나 특정한 자료만 선택할 수 있음

s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [14]:
s[["서울", "대구", "부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [16]:
# 인구가 250만 초과, 500만 미만인 경우

s[(250e4 < s) & (s < 500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [17]:
s[1 : 3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [18]:
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [19]:
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int64

In [20]:
s0.a

0

In [21]:
s0.b

1

#### 시리즈와 딕셔너리 자료형

In [22]:
"서울" in s

True

In [23]:
"대전" in s

False

In [24]:
for k, v in s.items():
    print("%s = %d" % (k,v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [25]:
# 딕셔너리 객체에서 시리즈를 만들 수도 있다.

s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전" : 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [26]:
# 만약 순서를 정하고 싶다면 index를 리스트로 지정한다.

s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전" : 1490158},
               index=["부산", "서울", "인천", "대전"])

s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

#### 인덱스 기반 연산

In [27]:
ds = s -s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [29]:
s.values - s2.values

array([ 6511121, -6182745,   258416,   975894], dtype=int64)

In [30]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [31]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64