In [1]:
import pandas as pd
import numpy as np

### 데이터 입출력

#### %%writefile 명령

In [2]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

In [4]:
# read a data
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [5]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [6]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [24]:
# 데이터를 구분하는 구분자가 쉼표가 아니면 sep인수를 써서 구분자를 사용자가 지정해준다. 
# c1        c2        c3        c4
# 0.179181 -1.538472  1.347553  0.43381
# 1.024209  0.087307 -1.281997  0.49265
# 0.417899 -2.002308  0.255245 -1.10515

In [16]:
# pd.read_table('sample3.txt', sep='\s+')

In [17]:
# 자료 파일 중 건더 뛰어야 할 행이 있으면 skiprows 인수 사용
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [18]:
pd.read_csv('sample4.txt', skiprows=[0,1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [22]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, 누락, two
누락, 3.33, three

Writing sample5.csv

In [25]:
df = pd.read_csv('sample5.csv', na_values=['누락'])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0     누락     two
2  NaN   3.33   three

#### CSV 파일 출력