In [1]:
# study_DataScienceSchool_pandas03_고급인덱싱

###### loc: 라벨값 기반의 2차원 인덱싱
###### iloc: 순서를 나타내는 정수 기반의 2차원 인덱싱

#### loc 인덱서

In [1]:
# df.loc[행 인덱싱 값]
# df.loc[행 인덱싱 값, 열 인덱싱 값]

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(10,22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=['a', 'b', 'c', 'd'])
df

    a   b   c   d
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21